doctype
html(lang="en")
  head
    block title
      title Default Title
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1.0"
    )
    link(
      rel="stylesheet"
      href="css/main.css"
    )
  body
    .page-wrapper
      block content

    script(src="js/main.js")
    //- use for supporting svg-sprites in IE
    script svg4everybody();
