html, body {
  min-width: $min-width;
  height: 100%;
  background-color: $c-bg-base;
  -webkit-tap-highlight-color: transparent; // disable blicking when click on links in iOS
}

.page-wrapper {
  min-width: $min-width;
  max-width: $max-width;
  margin: 0 auto;
}